<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <base href="/">
    <meta name="description" content="Studentu korporācija Latvia apvieno studentus">
    <meta name="keywords" content="students augstskola paukošana universitāte literārie vakari draugi">

    <meta name="image" content="./img/logo.png">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Studentu korporācija Latvia">
    <meta property="og:description" content="Studentu korporācija Latvia apvieno studentus">
    <meta property="og:image" content="./img/logo.png">
    <meta property="og:url" content="https://latvus.lv">

    <link rel="canonical" href="https://latvus.lv">

    <link rel="apple-touch-icon"
          sizes="57x57"
          href="icons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon"
          sizes="60x60"
          href="icons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon"
          sizes="72x72"
          href="icons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon"
          sizes="76x76"
          href="icons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon"
          sizes="114x114"
          href="icons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon"
          sizes="120x120"
          href="icons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon"
          sizes="144x144"
          href="icons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon"
          sizes="152x152"
          href="icons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="icons/apple-icon-180x180.png" />
    <link rel="icon"
          type="image/png"
          sizes="192x192"
          href="icons/android-icon-192x192.png" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="icons/favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="96x96"
          href="icons/favicon-96x96.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="icons/favicon-16x16.png" />

    <link rel="stylesheet" href="/css/theme.min.css" asp-append-version="true" type="text/css" />   
    <link rel="stylesheet" href="/css/app.min.css" asp-append-version="true" type="text/css" />
    <link rel="stylesheet" href="/css/fonts.min.css" asp-append-version="true" type="text/css" />


    <meta name="msapplication-TileImage" content="./icons/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <meta name="apple-mobile-web-app-title" content="Studentu korporācija Latvia">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">

</head>
<body>
    <header>
        <nav class="navbar navbar-transparent navbar-expand-md fixed-top" id="myNavbar">
            <div class="container-fluid ">
                <a class="navbar-brand " asp-page="/Index">
                    <div class="navbar-brand__img">
                        <picture><source srcset="/icons/Cirkelis_balts_65.png" type="image/png"><img src="/icons/Cirkelis_balts_65.png" alt="cirkelis" /></picture>
                    </div>
                    <div class="navbar-brand__text ">
                        <span class="navbar-brand__text--first">
                            Studentu korporācija
                        </span>
                        <span class="navbar-brand__text--second">
                            Latvia
                        </span>
                    </div>
                </a>

                <button class="navbar-toggler" id="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasDarkNavbar"
                     aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header ">
                        <div class="offcanvas-title d-flex-column text-center flex-grow-1">
                            <span class="navbar-brand__text--first ps-4 pt-3">
                                Studentu korporācija
                            </span>
                            <span class="navbar-brand__text--second ps-4">
                                Latvia
                            </span>
                        </div>
                        <button type="button" id="offcanvas-close" class="btn-close btn-close-white mb-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav text-center justify-content-end flex-grow-1">
                            <li class="nav-item ">
                                <a class="nav-link " asp-area="" asp-page="/Index">Sākums</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " asp-area="" asp-page="/Gallery">Galerija</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " asp-area="" asp-page="/About">Par mums</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " asp-area="" asp-page="/Contacts">Kontakti</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="py-5 bg-dark text-white footer">
        <div class="container">
            <div class="row">
                <div class="col-md pb-2">
                    <p>Studentu korporācija "Latvia"</p>
                    <p>Reģistrācijas numurs: 40008020700</p>
                </div>
                <div class="col-md pb-2">
                    <p>Adrese: Šarlotes iela 3, Rīga, LV-1001, Latvija</p>
                    <p>E-pasts: info@latvus.lv</p>
                </div>
                <div class="col-md pb-2">
                    <p>Latvus &copy; 1917-@(DateTime.Now.Year). Visas tiesības aizsargātas.</p>
                    <p>Mājaslapas dizains: Kristīne Reinberga</p>
                    <p>Mājaslapas izstrāde: Rolands Krumbergs</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/custom.min.js" asp-append-version="true"></script>    
    
</body>
</html>