@page
@model Korp.Latvia.Pages.AboutModel
@{
    ViewData["Title"] = "Par mums";
}

<section class="about-start-section">    
        <div class="container">
        <div class=" w-75 position-absolute top-50 start-50 translate-middle">
            <h1 class="text-white text-center">Spēcīgi augošs koks ar vecām un jaunām saknēm</h1>
            </div>
        </div>    
</section>

<section class="intro container py-5">
    <div class="row text-center d-block justify-content-center">
        <picture>
            <source srcset="icons/Vapenis_uzlabots.jpg" type="image/jpg">
            <img src="icons/Vapenis_uzlabots.jpg" alt="vapenis_1" class=" w-25 mb-5 ">
        </picture>
        <h2>
            Korporācija Latvia ir mūža brālība, kas pastāv uz taisnības un goda prāta principiem.
        </h2>
    </div>
</section>

<section class="goals container py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-4 text-center">
                <h4>
                    Mūsu mērķi
                </h4>
            </div>
            <div class="col-md-3 text-center">
                <picture>
                    <img src="/icons/1_ikona.png" alt="Latvijas kontura" class="icon">
                </picture>
                <p>
                    Vienot akadēmiski izglītotus latviešus dzimtenē un ārpus tās
                </p>
            </div>
            <div class="col-md-3 text-center">
                <picture>
                    <img src="/icons/2_ikona.png" alt="Latvijas karogs" class="icon">
                </picture>
                <p>
                    Stāvēt pār latviešu tautas un Latvijas valsts brīvību un neatkarību
                </p>
            </div>
            <div class="col-md-3 text-center">
                <picture>
                    <img src="/icons/3_ikona.png" alt="Akademiska cepure" class="icon">
                </picture>
                <p>
                    Aizstāvēt savas tautas, korporācijas un savu godu
                </p>
            </div>
            <div class="col-md-3 text-center">
                <picture>
                    <img src="/icons/4_ikona.png" alt="Sadotas rokas" class="icon">
                </picture>
                <p>
                    Vairot latviešu tautas garīgos spēkus, lai vīru krietnums nestu mūsu tautai labākas dienas
                </p>
            </div>
        </div>
    </div>
</section>

<section class="reasons-to-aply-section py-5 bg-secondary">
    <div class="container text-center">
        <h2 class="mb-5">Kāpēc pievienoties studentu korporācijai Latvia?</h2>
        <div class="row">
            <div class="col-md-4">
                <h4>Kontakti</h4>
                <p class="mt-4">
                    Iegūsti jaunus draugus un iepazīsti cilvēkus no dažādām profesionālajām jomām.
                </p>
            </div>
            <div class="col-md-4">
                <h4>Atbalsts</h4>
                <p class="mt-4">
                    Bez maksas dzīvo korporācijas namā. Apmeklē studentu korporācijas pasākumus.
                </p>
            </div>
            <div class="col-md-4">
                <h4>Attīstība</h4>
                <p class="mt-4">
                    Apgūsti paukošanos, etiķeti, balles dejas u.c. Piedalies izglītojošos pasākumos.
                </p>
            </div>
        </div>
    </div>
</section>

@*<section class="testemonials py-5 text-center bg-secondary">
    <h4>Ko saka mūsu biedri?</h4>
    <div class="carousel carousel-dark slide mt-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-content">
                    <picture><source srcset="/img/testemonials/Rolands.webp" type="image/webp"><img src="/img/testemonials/Rolands.jpg" alt="Testimonial Slider" class="carousel-img"></picture>
                    <div class="carousel-content_description text-left">
                        <h5>Rolands Krumbergs</h5>
                        <h6>PROGRAMMATŪRAS IZSTRĀDĀTĀJS, KONSULTANTS</h6>
                        <blockquote>
                            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, aliquam impedit, animi repudiandae quibusdam, architecto porro deleniti quae doloremque quisquam odit eaque adipisci nemo alias dolorem sequi vitae voluptatum dicta?"
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <picture><source srcset="/img/testemonials/Rolands.webp" type="image/webp"><img src="/img/testemonials/Rolands.jpg" alt="Testimonial Slider" class="carousel-img"></picture>
                    <div class="carousel-content__description text-left">
                        <h5>Rolands Krumbergs 2</h5>
                        <h6>Programmatūras izstrādātājs, konsultants</h6>
                        <blockquote>
                            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, aliquam
                            impedit, animi
                            repudiandae quibusdam, architecto porro deleniti quae doloremque quisquam odit eaque
                            adipisci nemo alias dolorem sequi vitae voluptatum dicta?"
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <picture><source srcset="/img/testemonials/Rolands.webp" type="image/webp"><img src="/img/testemonials/Rolands.jpg" alt="Testimonial Slider" class="carousel-img"></picture>
                    <div class="carousel-content__description text-left">
                        <h5>Rolands Krumbergs 3</h5>
                        <h6>Programmatūras izstrādātājs, konsultants</h6>
                        <blockquote>
                            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, aliquam
                            impedit, animi
                            repudiandae quibusdam, architecto porro deleniti quae doloremque quisquam odit eaque
                            adipisci nemo alias dolorem sequi vitae voluptatum dicta?"
                        </blockquote>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev text-black-50" type="button" data-bs-target="#testemonials-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#testemonials-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon " aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>*@