@page
@model Korp.Latvia.Pages.ApplyModel
@{
    ViewData["Title"] = "Pieteikties";
}

<header id="apply-start-section">
    <div class="header-content text-white d-flex align-items-center">
        <div class="container">
            <div class="row">
                <h4 class="mx-auto">Iepazīšanās</h4>
            </div>
            <div class="row text-center">
                <h1 class="mx-auto">
                    Kā tikt uzņemtam?
                </h1>
            </div>
        </div>
    </div>
</header>