@page
@model Korp.Latvia.Pages.GalleryModel
@{
    ViewData["Title"] = "Galerija";
}

<section class="gallery-start-section ">
    <div class="container">
        <div class="w-75 position-absolute top-50 start-50 translate-middle">
            <h3 class="text-white text-center">Mūsu ikdiena</h3>
            <h1 class="text-white text-center">Pasākumi un aktivitātes</h1>
        </div>
    </div>
</section>

<section class="gallery-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-4 text-center">
                <h4>
                    Galerija
                </h4>
            </div>
        </div>
        <div class="spotlight-group">
            <div class="row">
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/gallery/1400x788/18_novembris_1_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/gallery/1400x788/18_novembris_1_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/gallery/576x324/18_novembris_1_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/18_novembris_2_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/18_novembris_2_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/18_novembris_2_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Dejas_1_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Dejas_1_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/Dejas_1_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Dejas_2_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Dejas_2_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/Dejas_2_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Komerss_1_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Komerss_1_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/Komerss_1_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Komerss_2_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Komerss_2_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/Komerss_2_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Literarais_1_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Literarais_1_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/Literarais_1_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Literarais_2_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Literarais_2_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/Literarais_2_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Paukosanas_1_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Paukosanas_1_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/Paukosanas_1_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Paukosanas_2_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Paukosanas_2_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/Paukosanas_2_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Paukosanas_3_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Paukosanas_3_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/Paukosanas_3_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Paukosanas_4_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Paukosanas_4_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/Paukosanas_4_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Paukosanas_5_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Paukosanas_5_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/Paukosanas_5_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 pb-3">
                    <a class="spotlight" href="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Paukosanas_6_16_9.jpg">
                        <picture>
                            <source type="image/jpeg" srcset="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/1400x788/Paukosanas_6_16_9.jpg">
                            <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/gallery/576x324/Paukosanas_6_16_9.jpg" alt="alus_vakars" class="img rounded w-100" />
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>