@media (min-width: 360px) and (orientation: portrait) {
  .hero {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/480x853/Vapenis_9_16.jpg");
  }

  .gallery-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/480x853/Svetku_akts_9_16.jpg");
  }

  .about-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/480x853/Paukosanas_9_16.jpg");
  }

  .contact-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/480x853/Atklasanas_svetki_9_16.jpg");
  }
}

@media (min-width: 420px) and (orientation: portrait) {
  .hero {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/576x1024/Vapenis_9_16.jpg");
  }

  .gallery-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/576x1024/Svetku_akts_9_16.jpg");
  }

  .about-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/576x1024/Paukosanas_9_16.jpg");
  }

  .contact-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/576x1024/Atklasanas_svetki_9_16.jpg");
  }
}

@media (min-width: 576px) and (orientation: portrait) {
  .hero {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/768x1365/Vapenis_9_16.jpg");
  }

  .gallery-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/768x1365/Svetku_akts_9_16.jpg");
  }

  .about-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/768x1365/Paukosanas_9_16.jpg");
  }

  .contact-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/768x1365/Atklasanas_svetki_9_16.jpg");
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  .hero {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/768x432/Vapenis_16_9.jpg");
  }

  .gallery-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/768x432/Svetku_akts_16_9.jpg");
  }

  .about-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/768x432/Paukosanas_16_9.jpg");
  }

  .contact-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/768x432/Atklasanas_svetki_16_9.jpg");
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/992x558/Vapenis_16_9.jpg");
  }

  .gallery-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/992x558/Svetku_akts_16_9.jpg");
  }

  .about-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/992x558/Paukosanas_16_9.jpg");
  }

  .contact-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/992x558/Atklasanas_svetki_16_9.jpg");
  }
}

@media (min-width: 992px) {
  .hero {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/1200x675/Vapenis_16_9.jpg");
  }

  .gallery-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/1200x675/Svetku_akts_16_9.jpg");
  }

  .about-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/1200x675/Paukosanas_16_9.jpg");
  }

  .contact-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/1200x675/Atklasanas_svetki_16_9.jpg");
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/1400x788/Vapenis_16_9.jpg");
  }

  .gallery-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/1400x788/Svetku_akts_16_9.jpg");
  }

  .about-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/1400x788/Paukosanas_16_9.jpg");
  }

  .contact-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/1400x788/Atklasanas_svetki_16_9.jpg");
  }
}

@media (min-width: 1400px) {
  .hero {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/1690x951/Vapenis_16_9.jpg");
  }

  .gallery-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/1690x951/Svetku_akts_16_9.jpg");
  }

  .about-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/1690x951/Paukosanas_16_9.jpg");
  }

  .contact-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/1690x951/Atklasanas_svetki_16_9.jpg");
  }
}

@media (min-width: 1920px) {
  .hero {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/2400x1350/Vapenis_16_9.jpg");
  }

  .gallery-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/2400x1350/Svetku_akts_16_9.jpg");
  }

  .about-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/2400x1350/Paukosanas_16_9.jpg");
  }

  .contact-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/2400x1350/Atklasanas_svetki_16_9.jpg");
  }
}

@media (max-width: 576px) and (orientation: landscape) {
  .hero {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/576x324/Vapenis_16_9.jpg");
  }

  .gallery-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/576x324/Svetku_akts_16_9.jpg");
  }

  .about-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/576x324/Paukosanas_16_9.jpg");
  }

  .contact-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/16_9/576x324/Atklasanas_svetki_16_9.jpg");
  }
}

@media (max-width: 360px) and (orientation: portrait) {
  .hero {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/480x853/Vapenis_9_16.jpg");
  }

  .gallery-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/480x853/Svetku_akts_9_16.jpg");
  }

  .about-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/480x853/Paukosanas_9_16.jpg");
  }

  .contact-start-section {
    background-image: url("https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net//images/overlay/9_16/480x853/Atklasanas_svetki_9_16.jpg");
  }
}